<%- include('partials/_header'); %> <%- include('partials/_navbar'); %>

<div class="container">
  <h1>About Us</h1>
  <br />
  <p>
    En Rosselot Rent a Car nuestro principal objetivo es ofrecer a nuestros
    clientes un excelente y completo servicio en el arriendo de vehículos.
    Deseamos acompañarlos en todas las rutas y destinos para que puedas llegar
    donde quieras sobre ruedas. Y que mejor con el respaldo de una marca de
    prestigio en Chile. Con más de 40 años de experiencia y bajo las miradas de
    los señores Rosselot, que mantienen la visión y aceptan como misión en
    seguir desarrollando a empresas Rosselot, con más de diez marcas de
    vehículos en concesión, talleres propios integrales y marcando la esencia de
    una familia, con alma de crear y de accionar en beneficio de quienes nos
    prefieren, hemos acompañado y apoyado por largos años a nuestros clientes
    tanto en la expansión de sus negocios como en rutas de viajes.
  </p>
  <br />
  <h2>History</h2>
  <p>
    Nuestra empresa fue fundada el 2 de octubre de 1978, como sociedad “Gerardo
    Rosselot y Cía. Ltda.” Ocupando el nombre de fantasía “Bert Rent a Car”, con
    la meta de desarrollar un servicio de alta calidad de venta y arriendo de
    automóviles. Nuestro crecimiento nos inspiró a llevar al mercado el apellido
    de nuestro fundador, posicionándonos en el mercado como “Rosselot Rent a
    Car”. El 3 de diciembre de 1985 se constituye la Sociedad “Rosselot y
    Figueroa Ltda.“ rut: 79.615.590-6. Representada por Gerardo Rosselot Bert,
    rut: 8.500.288-0. Ambos domiciliados en Calle Limache 3865, El Salto – Viña
    del Mar.
  </p>
</div>

<%- include('partials/_footer'); %>