<%- include('partials/_header'); %>

<%- include('partials/_navbar'); %>
<div class="container">
  <h1>Index</h1>
  <br>
  <h2>Carros</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a fugiat, temporibus quos saepe obcaecati iusto porro repellat necessitatibus animi molestias exercitationem eos, officiis eum labore voluptates, consequatur illo quibusdam.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut non cum eaque minus fugiat earum explicabo sint? Dolores saepe temporibus praesentium in aperiam, non animi ullam eum, libero nobis iusto!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ducimus perspiciatis magnam distinctio consequatur laboriosam, officiis eveniet ex, ullam, error mollitia vitae dolorem sequi esse est natus corporis hic. Aut!
  </p>
  <br>
  <h2>Renta</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt itaque sapiente, tenetur, amet autem obcaecati repudiandae officiis nemo, dolor maxime optio. Voluptatem magni asperiores iure repellendus esse nostrum, ex recusandae.
  </p>
</div>

<%- include('partials/_footer'); %>