<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">RentCar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serivicos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/car">Cars</a></li>
            <li><a class="dropdown-item" href="/rent">Rents</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Contactenos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="p-5 bg-image rounded-3 img-responsive"
  style="background-image: url('https://media.revistagq.com/photos/612f9ac99dd1cd103576f1c0/16:9/pass/001-CarBahn-BMW-M8-Competition.jpeg'); height: 912px;">